img.banner {
    width: 1920px;
    height: 91px;
    margin: 0 0 69.9px;
    object-fit: contain;
}

.body {
    width: 1250px;
    margin: auto;
}

img.userIcon {
    width: 30.1px;
    height: 30.1px;
    object-fit: contain;
    vertical-align:middle;
}

.pageName {
    width: 82px;
    height: 34px;
    object-fit: contain;
    font-family: NanumSquare;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.board {
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}

.board thead {
    text-align: center;
}

.board td {
    border: 1px solid #000000;
}

.no {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
    padding: 1px 5px 1px 5px;
    text-align: right;
}

.title {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow:hidden;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.date {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
    text-align: center;
}