.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.p-1 {
    padding: 1rem !important;
}

.px-1 {
    padding: 0 1rem !important;
}

.py-1 {
    padding: 1rem 0 !important;
}

.pr-1 {
    padding: 0 1rem 0 0 !important;
}

.mx-1 {
    margin: 0 1rem 0 1rem !important;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}

.mb-3 {
    margin-bottom: 2rem !important;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.no-deco {
    text-decoration: none;
}

.no-deco:hover {
    text-decoration: none;
}

.btn {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0 0.5rem 0rem 0.5rem;
}
.btn-white {
    color: #a166d5 !important;
    background-color: #fff;
    border: #a166d5 solid 1px;
}

.btn-purple {
    color: #fff !important;
    background-color: #a166d5;
    border: #a166d5 solid 1px;
}

.detail {
    margin-bottom: 2rem;
}

.userIcon-img {
    background: url('/assets/img/userIcon.png');
    width: 30px;
}

.purpleUserIcon-img {
    background: url('/assets/img/userIcon_purple.png');
    width: 25px;
	height: auto;
}

.commment-img {
    background: url('/assets/img/comment.png');
    width: 24px;
	height: auto;
    
}

.shadow {
    box-shadow: 0 0.10rem 0.15rem 0.10rem rgb(58 59 69 / 20%) !important;
}

.width-full {
    width: 100%;
}

.txt-round {
    display: block;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    color: #c9c9c9;
    border: 1px solid #c9c9c9;
    border-radius: 0.35rem;
    resize: none;
}

.round {
    border: 1px solid #c9c9c9;
	border-radius: 0.5rem;
}

.border-bottom {
	border-bottom: 1px solid #c9c9c9;
}

.w-100 {
    width: 100% !important;
}

.w-95 {
    width: 95% !important;
}

.w-80 {
    width: 80% !important;
}

.bg-grey {
    background-color: #eee;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-black {
    color: #000;
}

.warning {
    width: 400px;
    height: auto;
}

.hidden {
    display: none;
}