.m-0 {
    margin: 0 !important;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.no-deco {
    text-decoration: none;
}

.no-deco:hover {
    text-decoration: none;
}

.btn {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0 0.5rem 2rem 0.5rem;
}
.btn-white {
    color: #a166d5 !important;
    background-color: #fff;
    border: #a166d5 solid 1px;
}

.btn-purple {
    color: #fff !important;
    background-color: #a166d5;
}

.detail {
    margin-bottom: 2rem;
}

.userIcon-img {
    background: url('/assets/img/userIcon.png');
    width: 30px;
}

.shadow {
    box-shadow: 0 0.10rem 0.15rem 0.10rem rgb(58 59 69 / 20%) !important;
}

.width-full {
    width: 100%;
}

.txt-round {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    color: #ececec85;
    border: 1px solid #ececec85;
    border-radius: 0.35rem;
    resize: none;
}