.m-0 {
    margin: 0 !important;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.no-deco {
    text-decoration: none;
}

.no-deco:hover {
    text-decoration: none;
}

.btn {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0 0.5rem 2rem 0.5rem;
}
.btn-white {
    color: #a166d5 !important;
    background-color: #fff;
    border: #a166d5 solid 1px;
}

.btn-purple {
    color: #fff !important;
    background-color: #a166d5;
}

.detail {
    margin-bottom: 2rem;
}

.userIcon-img {
    background: url('/assets/img/userIcon.png');
    width: 30px;
}

.table-container {
    margin-bottom: 2rem;
}

.board {
    border-top: #a166d5 solid 2px;
    width: 100%;
}

.board thead {
    text-align: center;
    font-size: 1.2rem;
}

.no {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
    padding: 1px 5px 1px 5px;
    text-align: right;
}

.title {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow:hidden;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.date {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
    text-align: center;
}

.border-grey {
    border: #e3e6f0 1px solid;
    margin-bottom: 3rem;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    flex-direction: column;
    
}

.shadow {
    box-shadow: 0 0.10rem 0.15rem 0.10rem rgb(58 59 69 / 20%) !important;
}

.width-full {
    width: 100%;
}

.th-grey {
    text-align: center;
    background-color: #ececec;
    width: 150px;
    height: 30px;
    padding: auto;
}

.width-700 {
    width: 700px;
}