.table-container {
    margin-bottom: 2rem;
}

.board {
    width: 100%;
    text-align: center;
}

.board-purple-top {
    border-top: #a166d5 solid 2px;
}

.b-thead {
    font-size: 1.2rem;
}

.th-grey {
    background-color: #ececec;
    padding: auto;
}

.b-cell {
    font-size: 1rem;
}

.title {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow:hidden;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}